
/* ページ */
body {
  background-color: #fff;
  color: #000;
}

body, p, ol, ul, td, textarea {
  font-family: monospace, verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

div {
  display: inline-block;
}

pre {
  background-color: #fff;
  margin: 0px;
  padding: 0px 10px;
  font-size: 14px;
}

p {
  margin: 10px 0px;
}

/* --- フォーム --- */
form {
  display: inline;  
}

/* テキストフィールド */
.text_field {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #aaa;
  padding: 5px;
  width: 200px;
}

/* パスワードフィールド */
.password_field {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #aaa;
  padding: 5px;
  width: 200px;
}

/* テキストエリア */
textarea {
  width: 95%;
  height: 500px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid #aaa;
  padding: 15px;
  font-size: 14px;
}



/* テーブル */
table {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 15px;
  border: 1px solid #ff7500;
}

td {
  padding: 5px;
}



/* リンク */
a {
  color: #ff7500;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
