<div class="block">

  <div class="content">

    <h3 class="title">登録情報閲覧</h3>

    <div class="inner">
      <b><%= t( "activerecord.attributes.user.login_id", :default => 'Login ID' ) %>:</b>
      <%= @user.login_id %>

      <br />
      <br />

      <%# トップ %>
      <%= link_to 'トップ', { :controller => 'schedules' }, :class => 'button' %>
    </div>

    <br />
    <br />

  </div>
</div>
