
<% if ENV['RAILS_ENV'] == 'production' %>
<% unless session[:user_id] == "2" %>
  <!--shinobi1-->
  <script type="text/javascript" src="http://x7.wakatono.jp/ufo/107673200"></script>
  <noscript><a href="http://x7.wakatono.jp/bin/gg?107673200" target="_blank">
  <img src="http://x7.wakatono.jp/bin/ll?107673200" border="0"></a><br>
  <span style="font-size:9px"><img style="margin:0;vertical-align:text-bottom;" src="http://img.shinobi.jp/tadaima/fj.gif" width="19" height="11"> <a href="http://truck.jpnz.jp" target="_blank">トラック買取</a></span></noscript>
  <!--shinobi2-->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21375861-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
  <!-- ／Google Analytics -->
<% end %>
<% end %>
